/*COLOR VARIABLES*/

/*OG*/
:root{
--grey: #939393;
--greyOpacityReduced: #9393932f;
--black: #000000; 
--white: #FFFFFF; 
--gapGallery: 2vw; 
--noOfItems: 8; 
}

/*FONT LOADING*/
/*type scale: https://utopia.fyi/type/calculator/?c=375,10,1.414,1440,18,1.333,1,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

@font-face {
font-family: "Alegreya";
font-style: normal;
font-weight: 400; 
src: url("/fonts/Alegreya-Regular.woff") format("woff"); 
}

@font-face {
font-family: "Alegreya";
font-style: italic;
font-weight: 400; 
src: url("/fonts/Alegreya-Italic.woff") format("woff"); 
}

@font-face {
font-family: "Alegreya";
font-style: normal;
font-weight: 700; 
src: url("/fonts/Alegreya-Bold.woff") format("woff"); 
}

@font-face {
font-family: "Alegreya";
font-style: normal;
font-weight: 600; 
src: url("/fonts/Alegreya-SemiBold.woff") format("woff"); 
}

/*FONT SIZE DECLARATIONS*/
/*14px*/
#caption{
font-family: "Alegreya";
font-style: italic;
font-weight: 400;

font-size: clamp(0.442rem, 0.3005rem + 0.6039vw, 0.844rem);
color: var(--grey);
text-wrap: pretty;
margin: 0;
padding: 0.5vw 0;

}
h3{
font-family: "Alegreya";
font-style: normal;
font-weight: 400;
color: var(--black);

font-size: clamp(0.442rem, 0.3005rem + 0.6039vw, 0.844rem);
}

/*24px*/
h1{
font-family: "Alegreya";
font-style: normal;
font-weight: 700;

color: var(--black);

font-size: clamp(0.8838rem, 0.6669rem + 0.9253vw, 1.4996rem);
}

/*18px*/
h2{
font-family: "Alegreya";
font-style: normal;
font-weight: 700;
color: var(--black);    

font-size: clamp(0.625rem, 0.4489rem + 0.7512vw, 1.125rem);
}
p{
font-family: "Alegreya";
font-style: normal;
font-weight: 400;
color: var(--black);

font-size: clamp(0.625rem, 0.4489rem + 0.7512vw, 1.125rem);
line-height: 1.6;
text-wrap: pretty;
padding: 0.5vw 0;

font-variant-ligatures: none;
}

ol{
font-family: "Alegreya";
font-style: italic;
font-weight: 400;
font-size: clamp(0.625rem, 0.4489rem + 0.7512vw, 1.125rem);
text-wrap: pretty;

color: var(--grey);
background: var(--greyOpacityReduced);

display: flex;
flex-direction: column;
row-gap: 0.8rem;
padding: 2rem;

width: 75%;
}

ol p{
margin: 0;
padding: 0;
font-size: inherit;
font-weight: inherit;
text-wrap: pretty;
color: inherit;
line-height: inherit;
}
ul{
font-family: "Alegreya";
font-style: italic;
font-weight: 400;
font-size: clamp(0.625rem, 0.4489rem + 0.7512vw, 1.125rem);
text-wrap: pretty;

color: var(--grey);
background: var(--greyOpacityReduced);

list-style-type: none; 

display: flex;
flex-direction: column;
row-gap: 0.4rem;
padding: 2rem;

width: 75%;
}
ul p{
margin: 0;
padding: 0;
font-size: inherit;
font-weight: inherit;
text-wrap: pretty;
color: inherit;
line-height: inherit;
}

b{
font-weight: 600;
}
nav a{
font-family: "Alegreya";
font-style: normal;
font-weight: 400;

font-size: clamp(0.625rem, 0.4489rem + 0.7512vw, 1.125rem);
}

/*MASTER SETTINGS*/
html{
margin: 0; 
padding: 0;
background-color: var(--white); 
}
.in-margin-container{
display: flex;
flex-direction: column;
gap: 2vw;
margin: 0 4vw; 
}

/*MASTER ITEMS*/
