/* html-reset */
/* by using eric meyer's script http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   license: none (public domain)
*/
/* #region */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* #endregion */

/* font-loads: */
/* use transfonter (https://transfonter.org/) to convert fonts to woff2 */
/* #region */
@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/alegreya-sans_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/alegreya-sans_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/alegreya-sans_bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: block;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/alegreya-sans_light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: block;
}
/* #endregion */

/* global-settings (variables and html-element) */
/* #region */
:root {
  /* colour-variables: */
  --bg: rgb(0, 253, 253);
  --primary: rgb(40, 40, 40);
  --secondary: rgb(120, 120, 120);
  --tertiary: rgb(240, 240, 240);

  /* others: */
  --global_horizontal-margin: 16vw;
}
/* for anything 600px and down (phones, portrait tablets, etc): */
@media (max-width: 768px) {
  :root {
    --global_horizontal-margin: 2vw;
  }
}
@media (min-width: 768px) {
  :root {
    --global_horizontal-margin: 8vw;
  }
}
@media (min-width: 1200px) {
  :root {
    --global_horizontal-margin: 16vw;
  }
}

/* html & body element: */
html {
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem); /* value of 1rem. */
  font-family: "Alegreya Sans";
  text-transform: lowercase;
  text-wrap: pretty;

  background-color: var (--bg); 
}

body{
  margin: 2vw var(--global_horizontal-margin);
}
/* #endregion */

/* type-styles */
/* employing a fluid-typography-scale, the settings of which are here:
https://utopia.fyi/type/calculator?c=320,12,1.2,1920,16,1.2,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* #region */
h1 {
  font-family: "Alegreya Sans";
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary);
  margin-bottom: -1rem;
}
p {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary);
}
em{
  font-style: italic; 
}
h2 {
  font-family: "Alegreya Sans";
  font-weight: 600;
  font-size: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.8333rem);
  line-height: 1.2;
}
h3 {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-size: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.8333rem);
  line-height: 1.2;
}
figcaption {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.8333rem);
  line-height: 1.2;
  color: var(--secondary);
}
cite {
  font-style: italic;
}
blockquote {
  background-color: var(--tertiary);
  padding: 1.2rem;
}
blockquote p {
  font-style: italic;
  color: var(--secondary);
  line-height: 1.2rem;
}
ol {
  list-style-type: lower-roman;
  padding: 0 1.2rem;
}
li {
  font-size: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.8333rem);
  font-style: normal;
  color: var(--secondary);
  line-height: 1.2;
}
li:not(:last-child) {
  margin-bottom: 0.4rem;
}

/* links */
a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: underline dashed 0.04rem;
  text-underline-offset: 0.2rem;
}
a:hover {
  text-decoration: none;
  color: var(--primary);
}
a:active {
  color: var(--primary);
}

/* #endregion */

/* nav-bar and footer */
/* #region */
nav {
  display: flex;
  gap: space-between;
  justify-content: space-between;
  align-items: center;

  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: inherit;
  color: var(--secondary);

  width: 100%;
  height: fit-content;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--tertiary);
  margin-bottom: 2rem;
}
nav .right-items {
  display: flex;
  gap: 2rem;
  width: auto;
}
nav a {
  padding-bottom: 0.8rem;
}
footer {
  margin-top: 2rem;
  border-top: 2px solid var(--tertiary);
  display: flex;
  text-align: center;
  justify-content: center;
}
footer p {
  margin-top: 0.8rem;
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: clamp(0.625rem, 0.5833rem + 0.2083vw, 0.8333rem);
  line-height: 1.2;
  color: var(--secondary);
}
/* #endregion */

/* parent containers for media (and other things such as text, figures, image, video, etc) */
/* #region */
.full-width-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
}
.full-width-container video {
  margin: 0;
  width: 100%;
  height: auto;
  max-height: calc(100vw * 9 / 16);
  object-fit: cover; 
}
.full-width-container img {
  margin: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.full-width-container iframe {
  margin: 0;
  width: 100%;
  height: calc(90vw * 9 / 18);
  object-fit: contain;
}

.split-container {
  /* has a figcaption and a blank container for all images */
  display: flex;
  flex-direction: column; 
  gap: 0.8rem;
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
}
.split-container-contents {
  /* side by side media */
  display: flex;
  gap: 2rem; 
  align-items: top; 
  /* max-height: 30vh;  */
}
.split-container-contents .content{
  display: flex; 
  width: 100%; 
  height: inherit; 
  justify-content: center; 
}
.split-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;   
}
.split-container video {
  margin: 0;
  width: 100%;
  height: auto;
  max-height: calc(100vw * 9 / 16);
  object-fit: cover; 
}

.text-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  margin: 0 var(--global_horizontal-margin) 0 var(--global_horizontal-margin);
}

/* use figure to explain things inside text (such as process, etc) */
figure {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  margin-bottom: 2rem;
}
figure img {
  width: auto;
  height: auto;
  max-width: 100%;
  object-position: center;
  object-fit: cover;
}
figcaption {
  border-left: 0.3rem solid var(--secondary);
  padding-left: 0.4rem;
}
  #white{
  border: 1px solid var(--tertiary); 
}
/* #endregion */

hr {
  all: unset;
  display: block;
  height: 2px;
  background-color: var(--tertiary);
  margin: 0 var(--global_horizontal-margin) 2rem var(--global_horizontal-margin);
}
#separator {
  margin: 2rem var(--global_horizontal-margin) 2rem
    var(--global_horizontal-margin);
}

/* work-page */
header {
  display: flex;
  margin: 0 var(--global_horizontal-margin) 0 var(--global_horizontal-margin);
  align-items: top;
  margin-bottom: 1.2rem;
}
header .left-items {
  width: 100%;
}
header .right-items {
  display: block;
  min-width: fit-content;
  color: var(--secondary);
}
#date {
  color: var(--secondary);
}

/* canvas */
/* #region */
#canvas-container {
  position: inherit;
}
#canvas-replacer {
  display: none;
}
#canvas-container-but-hidden-on-phone {
  position: inherit;
}
@media all and (max-width: 1000px) {
  #canvas-container-but-hidden-on-phone {
    display: none;
  }
  #canvas-replacer {
    display: flex;
  }
}
/* #endregion */
