/* reset default css values using eric-meyer's script: */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   license: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-loads: */

@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/alegreya-sans_regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/alegreya-sans_italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("/fonts/alegreya-sans_bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: block;
}

:root {
/* colour-variables: */
--bg: rgb(0, 253,253); 

}

/* global-settings: */
html {
  font-size: 16px; /* value of 1rem. */
  text-transform: lowercase; 
  text-wrap: pretty;
  background-color: var (--bg); 
}


/* typography */

/* i use a fluid-typography-scale, the settings of which are here:
https://utopia.fyi/type/calculator?c=320,12,1.2,1920,16,1.2,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

h1{
    font-family: "Alegreya Sans"; 
    font-weight: 600; 
    font-size: 24px; 
}
p{
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  line-height: 1.7;
  color: rgb(40,40,40)
}

/* typography ends */

.in-margin-container{
margin: 2vw 32vw;
display: flex; 
flex-direction: column; 
row-gap: 2rem
/* background-color: rgba(255, 0, 0, 0.25);  */
}