:root {
  /* colour-variables: */
  --bg: rgb(253, 253, 253);
  --primary: rgb(60, 60, 60);
  --secondary: rgb(120, 120, 120);
  --tertiary: rgb(240, 240, 240);
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/fira-code_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: none;
}

/* body {
  background: white;
  transition: background-image 0.3s ease;
  background-size: cover;
  background-position: center;
} */

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; /* fit the image inside the viewport */
  background-origin: content-box;
  background-clip: content-box;
  transition: background-image 0.3s ease-in-out;
  padding: 2rem; /* padding around the viewport */
  font-family: "Fira Code";
  font-size: 16px; 
}

#mindmap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#center-node {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary); 
  padding: 1em;
}

.category-node {
  position: absolute;
  cursor: pointer;
  font-size: 0.9rem;
  white-space: nowrap;
  padding: 0.2rem 0.4rem;
  color: var(--secondary); 
  font-size: 18px; 
}
#connections {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: var(--primary); 
  opacity: 70%; 
}

line {
  stroke: var(--secondary);
  opacity: 70%; 
  stroke-width: 1;
}
