html,
body {
  margin: 0;
  padding: 0;
  overflow: none;
}

/* body {
  background: white;
  transition: background-image 0.3s ease;
  background-size: cover;
  background-position: center;
} */

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* fit the image inside the viewport */
    background-origin: content-box;
    background-clip: content-box;
    transition: background-image 0.3s ease-in-out;
    padding: 2rem; /* padding around the viewport */
  }
  

#mindmap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#center-node {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.category-node {
  position: absolute;
  cursor: pointer;
  font-size: 0.9rem;
  white-space: nowrap;
    padding: 0.2rem 0.4rem;
}
#connections {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  line {
    stroke: black;
    stroke-width: 1;
  }
  